* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #43d973;
    color: #333;
    line-height: 1.6;
}
.fetch-container {
    display: flex;
    background-color: chocolate;
}